/zigbee/Projects/zstack/Samples/Location_Coord/CC2530DB
/zigbee/Projects/zstack/Samples/Location_Mobile/CC2530DB
/zigbee/Projects/zstack/Samples/Location_Refer/CC2530DB
/zigbee/Projects/zstack/Samples/Location_Sink/CC2530DB
